@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
  background-color: #05080d; /* Azul muy oscuro, casi negro */
  color: #e0e7ff; /* Texto claro para buen contraste */
}
